body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}
.chat-container {
  width: 100%;
  max-width: 800px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 10px;
}
.message-container {
  display: flex;
  align-items: left;
  flex-direction: column; /* stack vertically */
  margin: 8px 0;
}
.message {
  padding: 10px;
  border-radius: 8px;
  max-width: 100%;
}

.user-message {
  background-color: #106258;
  color: white;
  margin-left: auto;
  margin-right: 8px;
}
.ai-message {
  background-color: #e9ecef;
  color: black;
  margin-right: auto;
}
/* for input-container */
.input-wrapper {
  width: 100%;
  max-width: 800px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  max-width: 97%; /* to fit */
}
.input-container {
  display: flex;
  align-items: center;
  width: 100%;
}
#inputBox {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 8px;
}
#sendButton {
  padding: 10px 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#sendButton:hover {
  background-color: #1f1f1f;
}
#saveButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#saveButton:hover {
  background-color: #1f1f1f;
}

#clearButton {
  position: absolute;
  top: 10px;
  right: 100px;
  padding: 5px 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#clearButton:hover {
  background-color: #1f1f1f;
}

.edit-button {
  background-color: transparent;
  border: none;
  color: #106258;
  cursor: pointer;
  font-size: 12px;
  margin-right: 5px;
}
.edit-button:hover {
  color: #399489;
}
.editable-input {
  padding: 8px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.code-block {
  margin: 5px 0;
  padding: 0;
  background-color: #f5f5f5;
  border-radius: 5px;
}

/* code within the pre tag */
.code-block pre {
  padding: 6px;
  margin: 0;
  background-color: #f5f5f5;
  border-radius: 5px;
  overflow-x: auto;
}

.code-block pre code {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  color: #333;
  white-space: pre-wrap; /* avoid horizontal scrolling */
  word-break: break-word;
}

.text-block {
  margin: 5px 0;
}

.mermaid {
  margin: 20px 0;
  font-size: 16px;
  max-width: 100%;
  overflow-x: auto;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
